* {
    margin: 0;
    padding: 0;
}
.header {
    padding: 20px;
    text-align: center;
    background-color: #e7b305;
    color: rgb(255, 0, 0);
}
.navbar {
    overflow: hidden;
    background-color: black;
}
.navbar button {
    float: left;
    display: block;
    color: rgb(25, 25, 231);
    text-align: center;
    padding: 17px 30px;
    text-decoration: none;
}
.video button{
    float: center;
}